@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
     
.header{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  padding: 3%;
    background-color: whitesmoke;
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    box-shadow: 0 10px 20px black;
   }
.Link{
    color: rgb(67, 67, 67);
    text-decoration: none;
}
.Linka{
  text-decoration: underline;
  color: black;
  
}
main{
  min-height: 80vh;
}
.Link:hover{
  
  text-decoration:underline;
  color: black;
}


.grid{
  padding: 5%;
}
.links{
    display: flex;
    gap: 20px;
    font-family: "Black Ops One", system-ui;
   
  }
.logo{
    font-family: "Orbitron", sans-serif;
display: flex;
align-items: center;
gap: 30px;}

.main{
 height: 100vh;
    width:100%;
   border: 2px solid black;
    background-image: url('rarri.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
  display: flex;
  

}
.card{
  width: 80%;
  border: 1px solid gray;
  box-shadow: 0 0 10px grey;
  
  }
.card img{
  height: 25vh;
  width: 100%;
}
.card h5, h4{
  padding: 5%;
  font-size: 1.4em;
}
.cont{
 display: grid;
 grid-template-columns: 50% 50%;
 place-items: center;
 row-gap: 40px;
}


.about{
    width: 100%;
   
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
 
    display: flex;
    justify-content: center;
   
}
.texts{
    width: 80%;
  margin-top: 20%;
  
}
.texts p{
    font-size: 1.3em;
    
}

.texts h1{
    font-size: 2.3em;
}
.texts button{
    width: 100%;
    height: 4vh;
    background-color: rgb(161, 0, 0);
    color: whitesmoke;
    font-family: "Black Ops One", system-ui;
    font-size: 1.6em;
}
.footer{
  
  padding: 4%;
    width: 100%;
    background-color: rgb(52, 52, 52);
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-family: "Black Ops One", system-ui;
}
.main2{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
  width: 80%;
  font-size: 1.7em;
}
.rar{
  width: 100%;
  height: 50vh;
}
.text button{
  width: 100%;
 background-color: rgb(161, 0, 0);
  color: whitesmoke;
  font-family: "Black Ops One", system-ui;
  font-size: 1.6em;
  
}
.one{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.finalc{
  width: 80%;
}
.finalc img{
  width: 100%;
  margin-top: 5%;
}
.finalc button{
  background-color: rgb(161, 0, 0);
  color: whitesmoke;
  font-family: "Black Ops One", system-ui;
  font-size: 1.6em;
  width: 100%;
}
.card-body{
  display: flex;
  justify-content: space-between;
}
#nav{
  margin-top: 4%;
  display:flex;
  gap: 20px;
  font-family: "Black Ops One", system-ui;
}
.nav{
  font-family: "Black Ops One", system-ui;
  padding: 4%;
  display: flex;
  gap: 40px;
}

.up{
  width: 100%;

padding: 4%;
background-color: lightcoral;
}
.first{
  display: flex;
  align-items: center;
  gap: 40px;
}
.down{
  width: 100%;
  padding: 4%;
  background-color: darkred;
  color: whitesmoke;
}
#li{
  margin-right: 1%;
}
.carlist{
  width: 80%;
  
}
.list{
  display: flex;

  width: 100%;
  justify-content: center;
}
 
  #car{
    width: 90%;
    padding: 3%;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
  }
  .bla2{
    display: flex;
    justify-content: center;
  }
  .bla{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
@media screen  and (min-width:1700px){
 .header{
  height: 4vh;
 }
 .footer{
  padding: 2%;
 }
 .card img{
  height: 35vh;
  width: 100%;
}
.up{
  font-size: 2em;
}

}
@media screen  and (max-width:500px){
  .header{
   font-size: 0.4em;
  }
  .logo img{
    width: 40px;
    height: 40px;
  }
  .first{
    display: block;
   
  }
  .first img{
    width: 100%;
  }
 main{
  min-height: 85.9vh;
 }
 
 }
 
 .cards {
  margin-top: 3%;
  width: 100%;
  font-size: 1.6em;
padding: 1%;
  color: black;
  background: whitesmoke;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
  
}

.cards:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.img {
  width: 200px;
  height: 200px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}

.cards:hover > .img {
  transition: 0.5s ease-in-out;
  background: linear-gradient(#9198e5, #712020);
}

.textBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: black;
  font-family: 'Poppins' sans-serif;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.h1 {
 
  font-weight: bold;
}

.p {
 
  font-weight: lighter;
}
#icon{
  margin-top: 4%;
  cursor: pointer;
}

.edit{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Simple loader made by: csozi | Website: www.csozi.hu*/

.loader {
  height: 50px;
  width: 50px;
  position: relative;
}

.block {
  height: 10px;
  width: 10px;
  background-color: black;
  position: absolute;
  opacity: 0;
}

.b_1 {
  top: 0;
  left: 0;
  animation: load 2s infinite;
  animation-delay: 0;
}

.b_2 {
  top: 0;
  left: 20px;
  animation: load 2s infinite;
  animation-delay: 0.25s;
}

.b_3 {
  top: 0;
  right: 0;
  animation: load 2s infinite;
  animation-delay: 0.5s;
}

.b_4 {
  top: 20px;
  right: 0;
  animation: load 2s infinite;
  animation-delay: 0.75s;
}

.b_5 {
  bottom: 0;
  right: 0;
  animation: load 2s infinite;
  animation-delay: 1s;
}

.b_6 {
  bottom: 0;
  left: 20px;
  animation: load 2s infinite;
  animation-delay: 1.25s;
}

.b_7 {
  bottom: 0;
  left: 0;
  animation: load 2s infinite;
  animation-delay: 1.5s;
}

.b_8 {
  top: 20px;
  left: 0;
  animation: load 2s infinite;
  animation-delay: 1.75s;
}

@keyframes load {
  0% {
    opacity: 1;
  }

  85% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

span{
  font-weight: 100;
}